{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table id="tableClientes" class="table table-hover">
                    <caption>
                            Clientes
                    </caption>
                    <thead id="tableHead">
                        <tr>
                            <th class="centered">DNI</th>
                            <th class="centered">Apellidos</th>
                            <th class="centered">Nombres</th>
                            <th class="centered">Telefono</th>
                            <th class="centered">Correo</th>
                            <th class="centered">Estado</th>
                            <th class="centered">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src='{% static "js/clientes/clientes_listado.js" %}'></script>
{% endblock %}