{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mt-4">
  <div class="input-group">
    <form id="formulario" method="POST" action="{% url 'vehiculos_reportes' %}">
      {% csrf_token %}
      <div class="row">
        <div class="col-auto">
          <input class="form-control" type="date" name="fechaInicio" id="fechaInicio">
        </div>

        <div class="col-auto">
          <input class="form-control" type="date" name="fechaFin" id="fechaFin">
        </div>

        <!-- 
        <div class="col-auto">
          <div class="form-floating">
            <select class="form-select form-select-sm" name="listarPor" id="listarPor" style="width: auto;">
              <option selected value="vehiculos">Vehiculos</option>
              <option value="estados">Estados</option>
            </select>
            <label for="listarPor">Listar por</label>
          </div>
        </div> -->

        <div class="col">
          <select class="form-select" name="listarPor" id="listarPor" aria-label="Default" style="width:auto">
            <option selected value="vehiculos">Vehiculos</option>
            <option value="estados">Estados</option>
          </select>
        </div>

        <div class="col-auto">
          <button class="btn btn-primary" type="button" id="enviarButton">Consultar</button>
        </div>
      </div>
    </form>
  </div>

  <div class="row mt-5">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6"> <!--TABLA -->
      <div class="table-responsive">
        <table id="tableVehiculos" class="table table-hover">
          <thead id="tableHead"></thead>
          <tbody id="tableBody"></tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div id="chart" style="width: 600px; height: 400px;"></div>
    </div>
  </div>
</div>

<script src='{% static "js/fechasParaReportes.js" %}'></script>
<!-- Apache Echarts (requiere jQuery) -->
<script src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
<script src='{% static "js/vehiculos/vehiculos_reportes.js" %}'></script>

{% endblock %}