{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
      <section class="col-md-4 offset-md-4 mt-5">
        <form action="/ingresarCodigoRecuperacion/" method="post" class="card card-body">
  
          <h2 class="text-center">Revisa en tu correo e ingresa el codigo</h2>
  
          {{error}}
          {% csrf_token %}
  
          <div class="mb-3">
            <input type="text" name="codigoRecuperacion"  id="codigoRecuperacion" class="form-control" autocomplete="off" autofocus>
          </div>
  
          <button type="submit" class="btn btn-primary">
            Validar
          </button>
  
        </form>
      </section>
    </div>
  </div>
  
{% endblock %}