{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <section class="col-md-4 offset-md-4 mt-5">
      <form action="/recuperarCuenta/" method="post" class="card card-body">

        <h2 class="text-center">Olvidaste tu clave ?</h2>
        <p>Ingresa tu correo en la siguiente caja de texto. Te enviaremos un codigo un codigo para que puedas crear una nueva clave. <strong>No lo compartas con nadie.</strong></p>
        {{error}}
        {% csrf_token %}

        <div class="mb-3">
          <label for="email" class="form-label">Correo electronico</label>
          <input type="text" name="email" id="email" class="form-control" autocomplete="off" autofocus>
        </div>

        <button type="submit" class="btn btn-primary">
          Enviar codigo
        </button>

      </form>
    </section>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('email').attr('autocomplete', 'off');
  });
</script>
{% endblock %}