{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transportes Dean Funes</title>

  <!-- Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

  <!-- DataTable.js CSS-->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

  <!-- Botones de DataTable.js -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

  <!-- CSS Personalizado -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark text-white">
    <div class="container">
      <a class="navbar-brand" href="#">Inicio</a>
      <p id="hora"></p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">

          {% if user.is_authenticated %}
          <!-- Solicitudes -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Solicitudes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/solicitudes">Listado</a></li>
              {% if not user.is_staff %}
              <li><a class="dropdown-item" href="/solicitudes/crear">Nueva solicitud</a></li>
              {% endif %}

              {% if user.is_staff %}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/solicitudes/reportes/">Reportes</a></li>
              {% endif %}
            </ul>
          </li>

          {% if user.is_staff %}
          <!-- Empleados -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Empleados</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/empleados">Listado</a></li>
              <li><a class="dropdown-item" href="/empleados/crear">Nuevo empleado</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Reportes</a></li>
            </ul>
          </li>

          <!-- Vehiculos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Vehiculos</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/vehiculos">Listado</a></li>
              <li><a class="dropdown-item" href="/vehiculos/crear">Nuevo vehiculo</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Reportes</a></li>
            </ul>
          </li>

          <!-- Clientes -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Clientes</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/clientes">Listado</a></li>
              <li><a class="dropdown-item" href="/clientes/crear">Nuevo cliente</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Reportes</a></li>
            </ul>
          </li>
          {% endif %}

          <li class="nav-item"><a class="nav-link" href="/logout">Cerrar sesion</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="/signup">Registrarse</a></li>
          <li class="nav-item"><a class="nav-link" href="/signin">Iniciar sesion</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="floating-buttons">
    <!-- {% if user.is_staff %}
    Botón para generar un gráfico
    <a class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Generar Gráfico"
      data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <i class="bi bi-bar-chart-fill"></i>
    </a>

    Botón para generar un reporte
    <a class="btn btn-success" data-toggle="tooltip" data-placement="left" title="Exportar a excel">
      <i class="bi bi-file-earmark-spreadsheet-fill"></i>
    </a>
    {% endif %} -->

    <!-- Botón para redirigir al usuario al chat -->
    <a href="https://w.app/widget-v1/kS1rmQ.js" target="_blank" class="btn btn-success" data-toggle="tooltip"
      data-placement="left" title="Chat con la Empresa">
      <i class="bi bi-whatsapp"></i>
    </a>
  </div>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

  <!-- Bootstrap JS (requiere jQuery) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <!-- DataTable.js (requiere jQuery) -->
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

  <!-- DataTable.js (botones) -->
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

  {% block content %}
  {% endblock %}
</body>

</html>