{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <section class="col-md-6 offset-md-3 mt-5">
            <form method="POST" class="card card-body">
                <h3>Crear solicitud</h3>
                
                {{error}}

                {% csrf_token %}

                <div class="mb-3">
                    <label for="desde">Desde</label>
                    <input type="text" name="desde" id="desde" class="form-control">
                </div>
                
                <div class="mb-3">
                    <label for="hasta">Hasta</label>
                <input type="text" name="hasta" id="hasta" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="desde">Desde</label>
                    <input type="date" name="fechaTrabajo" id="fechaTrabajo" class="form-control">
                </div>
                
                <div class="mb-3">
                    <label for="detalles">Detalles</label>
                    <textarea name="detalles" id="detalles" cols="30" rows="5" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">
                    Enviar solicitud
                </button>
            </form>
        </section>
    </div>
</div>

{% endblock %}