{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mt-3">
    <div class="row mb-3">
        <div class="col-md-3">
            <div class="card text-bg-primary h-100">
                <div class="card-body">
                    <h2 style="font-weight:bold">{{nuevos_clientes}}</h2>
                    <p class="card-text">Nuevos clientes registrados en este mes</p>
                </div>
                <div class="card-footer centered d-inline-block">
                    <a href="http://127.0.0.1:8000/clientes/" style="color: inherit; text-decoration: none;">
                        <p class="d-inline">Más información</p>
                        <i class="bi bi-arrow-right-circle"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-bg-success card-container h-100">
                <div class="card-body">
                    <h2 style="font-weight:bold">{{nuevas_solicitudes}}</h2>
                    <p class="card-text">Nuevas solicitudes recibidas este mes</p>
                </div>
                <div class="card-footer centered d-inline-block">
                    <a href="http://127.0.0.1:8000/solicitudes/" style="color: inherit; text-decoration: none;">
                        <p class="d-inline">Más información</p>
                        <i class="bi bi-arrow-right-circle"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-bg-info h-100">
                <div class="card-body">
                    <h2 style="font-weight:bold">{{porcentaje_crecimiento}}%</h2>
                    <p class="card-text">Más solicitudes que el mes pasado</p>
                </div>
                <div class="card-footer centered d-inline-block">
                    <a href="http://127.0.0.1:8000/solicitudes/" style="color: inherit; text-decoration: none;">
                        <p class="d-inline">Más información</p>
                        <i class="bi bi-arrow-right-circle"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-bg-danger h-100">
                <div class="card-body">
                    <h6 style="font-weight:bold">Estos vehiculos necesitan mantenimiento</h2>
                    <ul>
                        {% for vehiculo in vehiculos_service %}
                            <li>{{vehiculo.marca}} {{vehiculo.nombre}} {{vehiculo.modelo}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer centered d-inline-block">
                    <a href="http://127.0.0.1:8000/vehiculos/" style="color: inherit; text-decoration: none;">
                        <p class="d-inline">Más información</p>
                        <i class="bi bi-arrow-right-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <!-- Contenido del gráfico 1 -->
                    <h5 class="card-title">Solicitudes año 2023</h5>
                    <div id="chart1" style="height: 300px; justify-content: center; align-items: center;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <!-- Contenido del gráfico 2 -->
                    <h5 class="card-title">Top 5 clientes más solicitantes</h5>
                    <div id="chart2" style="height: 300px; justify-content: center; align-items: center;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
<script src='{% static "js/dashboard.js" %}'></script>

{% endblock %}