{% extends 'base.html' %}

{% block content %}

<main class="container">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-7">
      <form action="/empleados/crear/" method="post" class="card-body">
        <h4 class="mb-3">Registrar un empleado</h4>
        {{error}}
        {% csrf_token %}

        <div class="row g-3">
          <div class="col-sm-6">
            <label for="first_name">Nombre</label>
            <input type="text" name="first_name" class="form-control">
          </div>
  
          <div class="col-sm-6">
            <label for="last_name">Apellido</label>
            <input type="text" name="last_name" class="form-control">
          </div>
  
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" name="username" class="form-control" placeholder="juanperez">
          </div>
  
          <div class="col-12">
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" class="form-control" placeholder="juan@ejemplo.com">
          </div>
  
          <div class="col-sm-6">
            <label for="dni">DNI</label>
            <input type="text" name="dni" class="form-control" placeholder="Sin espacios, guiones ni puntos">
          </div>
  
          <div class="col-sm-6">
            <label for="telefono">Telefono</label>
            <input type="text" name="telefono" class="form-control" placeholder="Sin espacios, guiones ni puntos">
          </div>
  
          <div class="col-sm-6">
            <label for="fecha_nac">Fecha de nacimiento</label>
            <input type="date" name="fecha_nac" class="form-control">
          </div>
  
          <div class="col-sm-6">
            <label for="tipo_carnet">Tipo de carnet</label>
            <input type="text" name="tipo_carnet" class="form-control">
          </div>

          <input type="hidden" name="id_estado_empleado" value="1">
          <input type="hidden" name="id_tipo_usuario" value="4">
        </div>

        <hr>

        <button class="w-100 btn btn-primary btn-lg">
          Registrar empleado
        </button>
      </form>
    </div>
  </div>
</main>
{% endblock %}