{% extends 'base.html' %}

{% block content %}

<main class="container">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-7">
      <form action="/empleados/crear/" method="post" class="card-body needs-validation">
        <h4 class="mb-3">Registrar un empleado</h4>
        {{error}}
        {% csrf_token %}

        <div class="row g-3">
          <div class="col-sm-6">
            <label for="first_name">Nombre</label>
            <input type="text" name="first_name" class="form-control" placeholder="Juan">
          </div>
  
          <div class="col-sm-6">
            <label for="last_name">Apellido</label>
            <input type="text" name="last_name" class="form-control" placeholder="Perez">
          </div>
  
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" name="username" class="form-control" placeholder="juanperez">
          </div>
  
          <div class="col-12">
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" class="form-control" placeholder="juan@ejemplo.com">
          </div>
  
          <div class="col-sm-6">
            <label for="dni">DNI</label>
            <input type="text" name="dni" id="dni" class="form-control" maxlength="8" min="1">
          </div>
  
          <div class="col-sm-6">
            <label for="telefono">Telefono</label>
            <input type="text" name="telefono" id="telefono" class="form-control" maxlength="10" min="10">
          </div>
  
          <div class="col-sm-6">
            <label for="fecha_nac">Fecha de nacimiento</label>
            <input type="date" name="fecha_nac" class="form-control">
          </div>
  
          <div class="col-sm-6">
            <label for="tipo_carnet">Tipo de carnet</label>
            <input type="text" name="tipo_carnet" class="form-control text-uppercase">
          </div>

          <input type="hidden" name="id_estado_empleado" value="1">
          <input type="hidden" name="id_tipo_usuario" value="4">
        </div>

        <hr>

        <button class="w-100 btn btn-primary btn-lg">
          Registrar empleado
        </button>
      </form>
    </div>
  </div>
</main>

<script>
  //control de ingreso de numeros en dni y telefono
  var inputDNI = document.getElementById('dni');
  inputDNI.addEventListener('input', function() {
  var valor = inputDNI.value;
  valor = valor.replace(/[^0-9]/g, '');
  inputDNI.value = valor;
});

  var inputTelefono = document.getElementById('telefono');
  inputTelefono.addEventListener('input', function() {
  var valor = inputTelefono.value;
  valor = valor.replace(/[^0-9]/g, '');
  inputTelefono.value = valor;
});

(function () {
  'use strict'

  // Obtener todos los formularios a los que queremos aplicar estilos de validación de Bootstrap personalizados
  var forms = document.querySelectorAll('.needs-validation')

  // Bucle sobre ellos y evitar el envío
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

{% endblock %}