{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Transportes Dean Funes</h1>
        <p>Somos la empresa numero 1 de la ciudad de cordoba en mudanzas y transporte de carga !</p>
        <p>Registrate para enviar tu solicitud y recibir un presupuesto.</p>
        
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Iniciar sesion
            </a>
            <a class="btn btn-secondary" href="/signup/">
                Registrarse
            </a>
        </div>
    </section>
</main>
{% endblock %}