{% extends 'base.html' %}

{% block content %}

<main class="container mt-5">
  <div class="container text-center">
    <h3>Formulario de solicitud</h3>
    <p>El siguiente es un formulario el cual debe completar para que se pueda presupuestar su solicitud</p>
  </div>
  <div class="row vh-100 d-flex justify-content-center">
    <div class="col-md-7">
      <form action="{% url 'solicitudes_crear' %}" method="post" class="card-body" id="form">
        {% csrf_token %}

        <div class="row g-3">
          <div class="col-12">
            <label for="txt_detalles">¿ Qué necesita transportar ?</label>
            <textarea name="objetos_a_transportar" id="txt_detalles" class="form-control"></textarea>
          </div>

          <div class="col-12">
            <label for="direccion_desde">¿ Desde qué lugar ?</label>
            <input type="text" name="direccion_desde" class="form-control">
          </div>

          <div class="col-12">
            <label for="direccion_hasta">¿ Hasta qué lugar ?</label>
            <input type="text" name="direccion_hasta" class="form-control">
          </div>

          <div class="col-12">
            <label for="fecha_trabajo">¿ En qué fecha necesita recibirlo ?</label>
            <input type="date" name="fecha_trabajo" class="form-control">
          </div>

          <div class="col-12">
            <label for="detalles">Detalles</label>
            <input type="text" name="detalles" class="form-control">
          </div>

          <input type="hidden" name="id_estado_solicitud" value="1">

          {{error}}
          <hr>

          <button class="w-100 btn btn-primary btn-lg">
            Enviar solicitud
          </button>
      </form>
    </div>
  </div>
</main>
{% endblock %}
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<!-- <script type="text/javascript">
  $(document).ready(function() {
    //autocompletado para la direccion1
    $('#direccion1').autocomplete({
        source: function(request, response){
            $.ajax({
                url: 'solicitudes/crear',
                data: { term: request.term },
                success: function(data){
                    response(data.results);
                }
            });
        },
        minLength: 3
    });
  });

  $("#txt-desde, #txt-hasta").autocomplete({
    source: function(request, response) {
      $.ajax({
        url: ""
      })
    }
  })
</script> -->
