{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row vh-100 d-flex justify-content-center align-items-center">
        <section class="col-md-7">
            <form action="{% url 'solicitud_detalle' solicitud.id %}" method="POST" class="card-body">
                <h4>Detalles de la solicitud</h4>

                {{error}}
                {% csrf_token %}

                <div class="row">
                    <div class="col">
                        <label for="Cliente">Nombre</label>
                        <input type="text" name="cliente" id="cliente" class="form-control"
                            value="{{solicitud.cliente_id}}" disabled readonly>
                    </div>
                    <div class="col">
                        <label for="Cliente">DNI</label>
                        <input type="text" name="dni" id="dni" class="form-control" value="{{solicitud.cliente_id.dni}}"
                            disabled readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="fecha_trabajo">Fecha del trabajo</label>
                        <input type="date" name="fecha_trabajo" id="fecha_trabajo" class="form-control"
                            value="{{solicitud.fecha_trabajo | date:'Y-m-d'}}">
                    </div>
                    <div class="col">
                        <label for="fecha_solicitud">Fecha de la solicitud</label>
                        <input type="date" name="fecha_solicitud" id="fecha_solicitud" class="form-control"
                            value="{{solicitud.fecha_solicitud | date:'Y-m-d'}}" disabled readonly>
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col">
                        <label for="direccion_desde">Desde</label>
                        <input type="text" name="direccion_desde" id="direccion_desde" class="form-control"
                            value="{{solicitud.direccion_desde}}">
                    </div>

                    <div class="col">
                        <label for="direccion_hasta">Hasta</label>
                        <input type="text" name="direccion_hasta" id="direccion_hasta" class="form-control"
                            value="{{solicitud.direccion_hasta}}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="detalles">Detalles</label>
                    <textarea name="detalles" id="detalles" cols="30" rows="3"
                        class="form-control">{{solicitud.detalles}}</textarea>
                </div>

                <div class="mb-3">
                    <label for="objetos_a_transportar">Objetos a transportar</label>
                    <textarea name="objetos_a_transportar" id="objetos_a_transportar" cols="30" rows="3"
                        class="form-control">{{solicitud.objetos_a_transportar}}</textarea>
                </div>

                {% if not user.is_staff %}

                {% else %}
                <div class="col-sm-6 mb-3">
                    <label for="id_estado_solicitud">Modifique si lo requiere</label>
                    <select name="id_estado_solicitud" id="id_estado_solicitud" class="form-select">
                        {% for estado in estados %}
                        {% if estado.id == solicitud.id_estado_solicitud.id %}
                        <option value="{{ estado.id }}" selected>{{ estado.descripcion }}</option>
                        {% else %}
                        <option value="{{ estado.id }}">{{ estado.descripcion }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label for="sel_empleados">Asignar empleados</label>
                        {% for empleado in lista_empleados_disponibles %}
                                <div class="form-check">
                                    {% if empleado in lista_empleados_asignados %}
                                        <input class="form-check-input" type="checkbox" name="empleados" value="{{ empleado.id }}"id="empleado_{{ empleado.id }}" checked>
                                        <label class="form-check-label" for="empleado_{{ empleado.id }}">{{ empleado.last_name }} {{ empleado.first_name }}</label>
                                    {% else %}
                                        <input class="form-check-input" type="checkbox" name="empleados" value="{{ empleado.id }}" id="empleado_{{ empleado.id }}">
                                        <label class="form-check-label" for="empleado_{{ empleado.id }}">{{ empleado.last_name }} {{ empleado.first_name }}</label>
                                    {% endif %}
                                </div>
                        {% endfor %}
                    </div>

                    <div class="col-sm-6 mb-3">
                        <label for="sel_vehiculos">Asignar vehiculos</label>
                        {% for vehiculo in lista_vehiculos_disponibles %}
                        <div class="form-check">
                            {% if vehiculo in lista_vehiculos_asignados %}
                            <input class="form-check-input" type="checkbox" name="vehiculos" value="{{ vehiculo.id }}"
                                id="vehiculo_{{ vehiculo.id }}" checked>
                            <label class="form-check-label" for="vehiculo_{{ vehiculo.id }}">
                                {{ vehiculo.marca }} {{ vehiculo.nombre }}
                            </label>
                            {% else %}
                            <input class="form-check-input" type="checkbox" name="vehiculos" value="{{ vehiculo.id }}"
                                id="vehiculo_{{ vehiculo.id }}">
                            <label class="form-check-label" for="vehiculo_{{ vehiculo.id }}">
                                {{ vehiculo.marca }} {{ vehiculo.nombre }}
                            </label>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <button type="submit" class="w-100 btn btn-primary btn-lg">
                    Actualizar
                </button>
            </form>
        </section>
    </div>
</div>

{% endblock %}