{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mt-4">
  <div class="input-group">
    <form id="formulario" method="POST" action="{% url 'solicitudes_reportes' %}">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <input class="form-control" type="date" name="fechaInicio" id="fechaInicio">
        </div>
        <div class="col">
          <input class="form-control" type="date" name="fechaFin" id="fechaFin">
        </div>
        <div class="col">
          <button class="btn btn-primary" type="button" id="enviarButton">Enviar</button>
        </div>
      </div>
    </form>
  </div>
  
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="table-responsive">
        <table id="datatable_Solicitudes" class="table table-hover">
          <!-- #contenido -->
        </table>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src='{% static "js/solicitudes_reportes.js" %}'></script>

{% endblock %}