{% extends 'base.html' %}

{% block content %}

<main class="container">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-7">
      <form action="/empleados/crear/" method="post" class="card-body needs-validation" novalidate>
        <h4 class="mb-3 mt-3 text-center">Registrar un empleado</h4>
        {{error}}
        {% csrf_token %}

        <div class="row g-3">
          <div class="col-sm-6">
            <label for="first_name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="first_name" name="first_name" required>
            <div class="valid-feedback">Perfecto!</div>
            <div class="invalid-feedback">Este campo es obligatorio</div>
          </div>

          <div class="col-sm-6">
            <label for="last_name" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="last-name" name="last_name" required>
            <div class="valid-feedback">Excelente!</div>
            <div class="invalid-feedback">Este campo es obligatorio</div>
          </div>

          <div class="input-group">
            <label for="username" class="form-label">Nombre de usuario</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="username" name="username" aria-describedby="inputGroupPrepend"
                required>
              <div class="invalid-feedback">Por favor, escribe un nombre de usuario</div>
              <div class="valid-feedback">Se ve muy bien!</div>
            </div>
          </div>

          <div class="col-12">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <div class="invalid-feedback">Este campo es obligatorio</div>
            <div class="valid-feedback">Perfecto!</div>
          </div>

          <div class="col-sm-6">
            <label for="dni" class="form-label">DNI</label>
            <input type="text" class="form-control" name="dni" id="dni" maxlength="8" min="1" required>
            <div class="invalid-feedback">Porfavor escribe tu dni</div>
            <div class="valid-feedback">Bien!</div>
          </div>

          <div class="col-sm-6">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" name="telefono" id="telefono" maxlength="10" min="10" required>
            <div class="invalid-feedback">Este campo es obligatorio</div>
            <div class="valid-feedback">Perfecto!</div>
          </div>

          <div class="col-sm-6">
            <label for="fecha_nac" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="fecha_nac" name="fecha_nac" required>
            <div class="invalid-feedback">Este campo es obligatorio</div>
            <div class="valid-feedback">Excelente!</div>
          </div>

          <div class="col-sm-6">
            <label for="tipo_carnet" class="form-label">Tipo de carnet</label>
            <input type="text" name="tipo_carnet" class="form-control text-uppercase" required>
            <div class="invalid-feedback">Este campo es obligatorio</div>
            <div class="valid-feedback">Bien!</div>
          </div>

          {% if user.is_superuser %}
          <div class="col-sm-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="true" name="administrativo" id="administrativo">
              <label class="form-check-label" for="administrativo">
                Administrativo
              </label>
            </div>
          </div>
          {% endif %}

          <label class="form-check-label">
            La clave por defecto del empleado será su apellido + "-e". Una vez que haya iniciado podrá cambiar su clave por la que desee
          </label>
          
          <input type="hidden" name="id_estado_empleado" value="1"> <!-- Disponible -->
          <input type="hidden" name="id_tipo_usuario" value="4"> <!--Empleado-->
        </div>

        <hr>

        <button class="mb-4 w-100 btn btn-primary btn-lg">
          Registrar empleado
        </button>
      </form>
    </div>
  </div>
</main>

<script>
  //control de ingreso de numeros en dni y telefono
  var inputDNI = document.getElementById('dni');
  inputDNI.addEventListener('input', function () {
    var valor = inputDNI.value;
    valor = valor.replace(/[^0-9]/g, '');
    inputDNI.value = valor;
  });

  var inputTelefono = document.getElementById('telefono');
  inputTelefono.addEventListener('input', function () {
    var valor = inputTelefono.value;
    valor = valor.replace(/[^0-9]/g, '');
    inputTelefono.value = valor;
  });

  (function () {
    'use strict'

    // Obtener todos los formularios a los que queremos aplicar estilos de validación de Bootstrap personalizados
    var forms = document.querySelectorAll('.needs-validation')

    // Bucle sobre ellos y evitar el envío
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>

{% endblock %}