{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mt-4">
    <div class="mb-4">
        {% if not user.is_staff %}
        <a class="btn btn-primary" href="/solicitudes/crear/">Nueva solicitud</a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table id="tableSolicitudes" class="table table-hover">
                    <caption>
                        Solicitudes
                    </caption>
                    <thead id="tableHead">
                        <tr>
                            <th class="centered">#</th>
                            <th class="centered">Cliente</th>
                            <th class="centered">Desde</th>
                            <th class="centered">Hasta</th>
                            <th class="centered">A realizar el</th>
                            <th class="centered">Estado</th>
                            <th class="centered">Acciones</th>
                            <th class="centered">Calificacion</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Estás seguro de que deseas eliminar el registro ?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    No podrán deshacerse los cambios
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" href="http://127.0.0.1:8000/clientes/${cliente.id}/eliminar/">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='{% static "js/solicitudes/solicitudes_listado.js" %}'></script>
{% endblock %}